In [1]:
import pandas as pd
path = "C:\Учеба\Python/california_housing_train.csv"
df =pd.read_csv(path)
print(df)

       longitude  latitude  housingMedianAge  totalRooms  totalBedrooms  \
0        -114.31     34.19                15        5612           1283
1        -114.47     34.40                19        7650           1901
2        -114.56     33.69                17         720            174
3        -114.57     33.64                14        1501            337
4        -114.57     33.57                20        1454            326
...          ...       ...               ...         ...            ...
16995    -124.26     40.58                52        2217            394
16996    -124.27     40.69                36        2349            528
16997    -124.30     41.84                17        2677            531
16998    -124.30     41.80                19        2672            552
16999    -124.35     40.54                52        1820            300

       population  households  medianIncome  medianHouseValue
0            1015         472        1.4936             66900
1            1129         463        1.8200             80100
2             333         117        1.6509             85700
3             515         226        3.1917             73400
4             624         262        1.9250             65500
...           ...         ...           ...               ...
16995         907         369        2.3571            111400
16996        1194         465        2.5179             79000
16997        1244         456        3.0313            103600
16998        1298         478        1.9797             85800
16999         806         270        3.0147             94600

[17000 rows x 9 columns]

In [2]:
df.shape

(17000, 9)

In [9]:
population500=df[df['population'] < 500]
print (population500)

       longitude  latitude  housingMedianAge  totalRooms  totalBedrooms  \
2        -114.56     33.69                17         720            174
7        -114.59     34.83                41         812            168
17       -114.65     32.79                21          44             33
19       -114.67     33.92                17          97             24
21       -114.73     33.43                24         796            243
...          ...       ...               ...         ...            ...
16944    -124.14     40.67                23         580            117
16951    -124.15     40.81                50         340             74
16969    -124.17     40.80                52         661            316
16982    -124.18     40.62                35         952            178
16994    -124.25     40.28                32        1430            419

       population  households  medianIncome  medianHouseValue
2             333         117        1.6509             85700
7             375         158        1.7083             48500
17             64          27        0.8571             25000
19             29          15        1.2656             27500
21            227         139        0.8964             59200
...           ...         ...           ...               ...
16944         320         109        4.2054            130600
16951         235          83        1.7500             67500
16969         392         244        0.9570             60000
16982         480         179        3.0536            107000
16994         434         187        1.9417             76100

[1601 rows x 9 columns]

In [12]:
print(population500['medianHouseValue'].mean())

500001

In [22]:
df['population'].min()

3

In [25]:
df[df['population']==3]

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
8232,-118.44,34.04,16,18,6,3,4,0.536,350000

In [24]:
print(df[df['population']==3]['households'].max())

4